<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>06-双向绑定指令</title>
    <!-- 1. 导入 vue 库文件，在 window 全局就有了 Vue 这个构造函数 -->
    <script src="./lib/vue-2.6.12.js"></script>
</head>

<body>
    <div id="hello">
        <p>用户名：{{ username}}，在 {{ city }}</p>
        <input type="text" v-model="username">
        <hr>
        <input type="text" v-bind:value="username">
        <hr>
        <select name="" id="" v-model="city">
            <option value="">选择你所在的城市</option>
            <option value="1">重庆</option>
            <option value="2">上海</option>
            <option value="3">北京</option>
        </select>
        <hr>
        <!-- .number 将用户输入值转为数字 -->
        <input type="text" v-model.number="n1"> + <input type="text" v-model.number="n2"> = <span>{{n1+n2}}</span>
        <hr>
        <!-- .trim 过滤首尾空格 -->
        <!-- .lazy 在“change”时而非“input”时更新 -->
        <input type="text" v-model.trim.lazy="inputText">
        <span>输出文本：{{ inputText }}</span>
    </div>

    <script>
        // 2. 创建 Vue 的实例对象
        const vm = new Vue({
            // 3. 确定 vm 实例对象控制区域
            // el 表示 vue 控制的页面区域
            el: '#hello',
            // data 对象就是要渲染到页面的数据
            data: {
                username: '升卿',
                city: '',
                n1: '5',
                n2: "1",
                inputText: "你好",

            },
        });
    </script>
</body>

</html>